<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.nancy.daycounter"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/date_starred"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo" >
        <activity android:name=".activity.DayCounterListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.DayCounterPagerActivity"
            android:label="@string/app_name">

        </activity>
        <activity
            android:name=".activity.DayCounterEditActivity"
            android:label="@string/app_name">

        </activity>


    </application>

</manifest>
